<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <div class="hero-text-wrapper">
        <h1 class="title light-text hero-title">
          Bank<span class="accent-text">Hotel</span>
        </h1>
        <div class="hero-subtitle-wrapper">
          <p class="hero-subtitle">rooms</p>
          <p class="hero-subtitle">restaurant</p>
          <p class="hero-subtitle">congress hall</p>
          <p class="hero-subtitle">wine bar</p>
        </div>
      </div>
      <div class="hero-elements-wrapper">
        <button class="button-octagon hero-oct-button">
          <div class="octagon hero-oct"></div>
          <svg class="hero-btn-arrow" width="15" height="15">
            <use href="../img/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="hero-elements-groupe">
          <div class="since hero-since">
            <svg class="since-icon" width="35" height="35">
              <use href="../img/icons.svg#icon-star"></use>
            </svg>
            <p class="text since-element">Since 1973</p>
          </div>
          <p class="text light-text hero-text">
            The luxurious hotel in the most beautiful European city with an
            exclusive restaurant, conference-hall, and art-bar.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
