body {
  font-family: helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.76;
  background-color: var(--light-color);
}
@font-face {
  font-family: miracle;
  src: url('../miracle.otf') format('opentype');
}
/*
  |============================
  | section and container
  |============================
*/
.section {
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 1024px) {
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1920px) {
  .section {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* container */
.container {
  min-width: 320px;
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 984px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1860px;
  }
}
/*
  |============================
  | text
  |============================
*/
.accent-text {
  color: var(--accent-color);
}
.light-text {
  color: var(--light-color);
}
.dark-text {
  color: var(--dark-text-color);
}
/* title */
.title {
  font-family: miracle;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1;
}
@media only screen and (min-width: 1024px) {
  .title {
    font-size: 100px;
    line-height: 0.8;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 125px;
    line-height: 0.84;
  }
}

@media only screen and (min-width: 1920px) {
  .title {
    font-size: 150px;
    line-height: 0.87;
  }
}

/* subtitle */
.subtitle {
  font-size: 30px;
  line-height: 1;
  text-transform: capitalize;
  color: var(--dark-text-color);
}
@media only screen and (min-width: 1024px) {
  .title {
    font-size: 36px;
    letter-spacing: 0.03em;
  }
}

@media only screen and (min-width: 1920px) {
  .title {
    font-size: 50px;
  }
}

/* text */
.text {
  opacity: 0.8;
}

@media only screen and (min-width: 1024px) {
  .text {
    opacity: 0.64;
  }
}
@media only screen and (min-width: 1440px) {
  .text {
    font-size: 18px;
    line-height: 1.5;
  }
}
/*
  |============================
  | link
  |============================
*/
.link {
  color: var(--light-color);
  font-size: 14px;
  line-height: 1.42;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  transition: color var(--animation);
}
@media (hover: hover) {
  .link:focus,
  .link:hover {
    color: var(--accent-color);
  }
}
.link:active {
  color: var(--accent-color);
}
/*
  |============================
  | buttons
  |============================
*/
/* button octagon */

.button-octagon {
  transform: rotate(23deg);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  position: relative;
  transition: background-color var(--animation);
}
.button-octagon:disabled {
  opacity: 0.32;
}
.octagon {
  position: absolute;
  top: 2px;
  left: 2px;

  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
/* since */
.since {
  border: 1px solid;
  border-radius: 99px;
  display: flex;

  align-items: center;
  justify-content: center;
}
